<Html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sahni Bakery</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link href="/static/css/successstyle.css" rel="stylesheet" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body style="text-align: center; background-color: aliceblue">
        <nav class="navbar navbar-expand-lg">
                  <a class="navbar-brand" href="{{url_for('home')}}"><img src="/static/images/sahni.png"></a>
                      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color: white; background-color: #ffc107; text-align: center;">
                        <span class="navbar-toggler-icon" style="color: white;"></span>
                      </button>

                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <a class="scroll btn btn-warning my-2 my-sm-0 ml-auto" href="{{url_for('home')}}" style="color: white;">About Owner</a>
                      </div>
                </nav>
        <div class="container" style="text-align: center;">
            <div class="card  mb-3 black_color text-center" style="text-align: center; margin: 0 auto;">
              <div class="card-header" style="text-align: center;"><h1>ThankYou, <span style="color:#ffc107;font-weight: 600;">{{name}}</span></h1></div>
              <div class="card-body" style="text-align: center;">
                <h5 class="card-title" style="text-align: center;">Feedback Code #5444</h5>
                <p class="card-text" style="text-align: center;">Thanks for giving your valuable time to make us better.</p>
              </div>
            </div>
        <a class="btn btn-lg" href="{{url_for('home')}}" style="color: white; background-color: #2d4b4b !important;">Submit another response</a>
      </div>
    </body>
        <footer class="page-footer font-small pt-4" style="color: white;">

    <div class="footer-copyright text-center py-3" style="background-color: #ffa700; font-family: 'Montserrat', sans-serif;
">Made with&nbsp; <span style="color: red;"><i class="fas fa-heart"></i></span>&nbsp; by 
      <a href="http://traineebases.herokuapp.com/" style="color: white; font-family: 'Montserrat', sans-serif;
">TRAINEEBASE</a>
    </div>
    </footer>
</Html>
        
            